<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,64}</string>
                <key>spriteSourceSize</key>
                <string>{29,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{29,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,64}</string>
                <key>spriteSourceSize</key>
                <string>{29,64}</string>
                <key>textureRect</key>
                <string>{{0,64},{29,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,64}</string>
                <key>spriteSourceSize</key>
                <string>{29,64}</string>
                <key>textureRect</key>
                <string>{{0,128},{29,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,64}</string>
                <key>spriteSourceSize</key>
                <string>{29,64}</string>
                <key>textureRect</key>
                <string>{{0,192},{29,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{29,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2793d14d40456849474b752d919b2b8d:9a0bdd3673f0ed035d506f913cc36208:6f6c59c3c6b7e98e5fb22e47122cb74a$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
