<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,10}</string>
                <key>spriteSourceSize</key>
                <string>{50,10}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,10}</string>
                <key>spriteSourceSize</key>
                <string>{50,10}</string>
                <key>textureRect</key>
                <string>{{50,0},{50,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,10}</string>
                <key>spriteSourceSize</key>
                <string>{50,10}</string>
                <key>textureRect</key>
                <string>{{100,0},{50,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,10}</string>
                <key>spriteSourceSize</key>
                <string>{50,10}</string>
                <key>textureRect</key>
                <string>{{150,0},{50,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>shield.png</string>
            <key>size</key>
            <string>{200,10}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac47083388cfcfb011452a79275e3462:992aeb15712881668dd481ea9804c0a8:696d45f2d7f751d5a1f7d50444fec9b7$</string>
            <key>textureFileName</key>
            <string>shield.png</string>
        </dict>
    </dict>
</plist>
