<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,61}</string>
                <key>spriteSourceSize</key>
                <string>{29,61}</string>
                <key>textureRect</key>
                <string>{{13,0},{29,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,10}</string>
                <key>spriteSourceSize</key>
                <string>{50,10}</string>
                <key>textureRect</key>
                <string>{{42,0},{50,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>myplist.png</string>
            <key>size</key>
            <string>{92,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c6194eecb0af531deaec8dab75d7d21:09c3496ef50be1a62c3541654329293d:fb1ac3302e5883c8007976248e85722f$</string>
            <key>textureFileName</key>
            <string>myplist.png</string>
        </dict>
    </dict>
</plist>
